/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";
 @import "font-awesome";
 @import "toastr";

.toast-top-right {
    left: 12px;
}
.nav-item a.nav-link {
	color: #fff !important;
	font-weight: bold;
	font-size: 17px;
	position: relative;
}
.nav-item a.nav-link:hover {
	color: #c2c2c2 !important;
}

.login-block {
    margin-top: 7%;
}

.banner-sec {
	background: url("<%= image_path('slide3.webp') %>") no-repeat left bottom;
	background-size: cover;
	min-height: 500px;
	border-radius: 0 10px 10px 0;
	padding: 0;
}

.container-login {
	background: #fff;
	border-radius: 10px;
	box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
	border-radius: 0 10px 10px 0;
}

.carousel-caption {
	text-align: left;
	left: 5%;
}

.login-sec {
	padding: 50px 30px;
	position: relative;
}

.login-sec .copy-text {
	position: absolute;
	width: 80%;
	bottom: 20px;
	font-size: 13px;
	text-align: center;
}

.login-sec .copy-text i {
	color: #FEB58A;
}

.login-sec .copy-text a {
	color: #E36262;
}

.login-sec h2 {
	margin-bottom: 30px;
	font-weight: 800;
	font-size: 30px;
	color: #DE6262;
}

.login-sec h2:after {
	content: " ";
	width: 100px;
	height: 5px;
	background: #FEB58A;
	display: block;
	margin-top: 20px;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto
}

.btn-pdf {
    max-width: 400px;
    margin: auto;
    justify-content: center;
}

.badges {
	width: 390px;
	height: 550px;
	background: #eee;
	margin: 2px;
	border: 2px solid #eee;
}

.badge-header {
	background-color: $primary;
	color: #fff;
}

.archidiocese {
	font-size: 16px;
	text-align: center;
	margin-bottom: 0;
}

.cdj {
	font-size: 12.5px;
	text-decoration: underline;
}

.list-pourcentage {
	margin: auto;
	margin-left: 20%;
	margin-right: 20%;
}

.corp-badge {
	height: 90%;
	background-image: image-url('session.webp') !important;
	background-repeat: no-repeat !important;
	background-color: #fff;
	background-position: center;
	background-size: 60%;
}

.session-titre {
	font-family: Arvo;
    font-weight: bold;
    font-size: 25px;
    text-shadow:
        3px -3px 0 #fff,
        -3px 3px 0 #fff,
        3px 3px 0 #fff,
        4px 4px 0 #222;
    line-height: 0.8em;
    transform: scaleY(0.7);
    -webkit-transform: scaleY(0.7);
    -moz-transform: scaleY(0.7);
}

.session-sous-titre {
	color: $primary;
	font-family: "Great Vibes", cursive;
	font-size: 20px;
	line-height: 10px;
	font-weight: normal;
	margin-bottom: 0px;
	margin-top: 10px;
	text-shadow: 0 1px 1px #fff;
}

.astrodivider {
	margin:15px auto;
	width:300px; 
	max-width: 100%;
	position:relative;
}
  
.astrodividermask { 
	  overflow:hidden; height:20px; 
}
  
.astrodividermask:after { 
	content:''; 
	display:block;
	margin:-25px 0 0 0;
	width:100%;
	height:25px;
	border-radius:125px / 12px;
	box-shadow:0 0 8px $primary;
}
.astrodivider span {
	width:20px;
	height:20px; 
	position:absolute; 
	bottom:100%;
	margin-bottom:-11px;
	left:50%;
	margin-left:-11px;
	border-radius:100%;
	box-shadow:0 2px 4px $primary;
	background:#fff;
}
.astrodivider i {
	position:absolute;
	top:2px;
	bottom:2px;
	left:2px;
	right:2px;
	border-radius:100%;
	border:1px dashed $primary;
	text-align:center;
	line-height:13px;
	font-style:normal;
	color:$primary;
}

.text-style {
    font-size: 17px;
    line-height: 30px;
    font-style: italic;
}

.text-style2 {
    font-size: 15px;
    line-height: 35px;
    font-style: italic;
}

.vertical-line {
	width: 2px;
	height: 60px;
	background: $primary;
	margin: 0 auto;
}

.btn-login {
	background: #DE6262;
	color: #fff;
	font-weight: 600;
}

.banner-text {
	width: 70%;
	position: absolute;
	bottom: 40px;
	padding-left: 20px;
}

.banner-text h2 {
	color: #fff;
	font-weight: 600;
}

.banner-text h2:after {
	content: " ";
	width: 100px;
	height: 5px;
	background: #FFF;
	display: block;
	margin-top: 20px;
	border-radius: 3px;
}

.banner-text p {
	color: #fff;
}

@import "datatables";
@import "dtcheckboxes";
